// Place all the styles related to the creators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #D4F5F5
}

.table-data {
	font-size: 1.5em;
}

.wrapper {
	margin-top: 100px;
}

.edit-wrapper {
	margin: 0 auto;
	padding: 30px;

}
